@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&family=Open+Sans&display=swap');
body {
  margin: 0;
 color: white;
 font-family: 'Open Sans', sans-serif;

  background-image: url("https://i.ibb.co/xht9R1Y/background.jpg");
  background-repeat: no-repeat;
  background-size: cover !important;
 
  height: 100vh;
  overflow: hidden;
}
